<!-- restaurant/templates/restaurant/confirmation.html -->
{% extends 'restaurant/base.html' %}
 
 
{% block content %}
<div>
<h1>Order Confirmation</h1>
 
 
    <p>Thank you for your order, {{name}}!</p>
    <h3>Your Order:</h3>
    <ul>
        {% for item in order %}
            <li>{{ item }}</li>
        {% empty %}
            <li>Please place a real order!</li>
        {% endfor %}
    </ul>
    <p>With special instructions: {{instructions}}</p>
    <p>Your total is ${{total}}.</p>
    <p>Please pick up your order around {{pickupTime}}.</p>
 
 
</div>
{% endblock %}