<!-- templates/article.html -->
 
 
{% extends 'blog/base.html' %}
<h1>{{article.title}}</h1>
 
 
{% block content %}
<main class="grid-container">
    
    <article class="featured">
        {% if article.image_url %}
		<img src="{{article.image_url}}" alt="{{article.image_url}}">
		{% endif %}
        
        <div>
        <h2>{{article.title}}</h2>
        <strong>by {{article.author}} at {{article.published}}</strong>
        <p>
        {{article.test}}
        </p>
        </div>
    </article>
 
 
    <div>
<div>
    <h2>Comments</h2>
 
 
    <h3><a href="{% url 'create_comment' article.pk %}">Create a comment</a></h3>
 
 
    {% for comment in article.get_all_comments %}
    <article>
        <div>
        <strong>by {{comment.author}} at {{comment.published}}</strong>
        <p>
        {{comment.text}}
        </div>
    </article>
 
 
    {% endfor %}
</div>
</main>
{% endblock %}
 