<!-- mini_insta/templates/mini_insta/profile.html -->
{% extends 'mini_insta/base.html' %}
<h1>{{article.title}}</h1>
 
 
{% block content %}
<main class="grid-container">

    <article>
		<img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
        
        <div>
        <h2>{{profile.display_name}}</h2>
        <h3>{{profile.username}}</h3>
        <h3>{{profile.bio_text}}</h3>
        <h4> TBD Followers </h4>
        <h4> TBD Following </h4>
        <h4> TBD Posts </h4>
        </div> 
 </article>

 {% for post in profile.get_all_posts %}
        <div>
        <a href="{% url 'post_detail' post.pk %}">
        {% if post.get_all_photos %}
        <img src ="{{ post.get_all_photos.first.image_url }}" alt="{{ post.caption }}">
        {% else %}
        <img src="https://media.istockphoto.com/id/1334419989/photo/3d-red-question-mark.jpg?s=612x612&w=0&k=20&c=bpaGVuyt_ACui3xK8CvkeoVQC-jczxANZTMXGKAE11E=" alt="No image associated with post">
        {% endif %}
        </div>
{% endfor %}
</main>
{% endblock %}